@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  /* add font style */
  font-family: "Poppins", sans-serif;
  background-color: #171717;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 120px;
  padding-right: 120px;
}

.header-nav-ul {
  display: flex;
  gap: 40px;
}

.header-nav-ul li {
  list-style: none;
}

.header-nav-ul li a {
  color: #fff;
  text-decoration: none;
}

/* hero section */
.hero {
  display: flex;
  justify-content: space-between;
  padding-top: 80px;
  padding-left: 120px;
  padding-right: 120px;
}

.hero-info {
  margin-top: 200px;
}

.button-group {
  display: flex;
  gap: 20px;
}

.downloadbtn {
  padding: 10px 20px;
  background-color: #27ae60;
  border: none;
  cursor: pointer;
}

.learnmorebtn {
  padding: 10px 20px;
  background-color: transparent;
  border: 1px solid #fff;
  cursor: pointer;
}

/* css cho nav dropdown */
.dropdown:hover .about-nav {
  display: block;
}

.dropdown {
  position: relative;
}

.about-nav {
  cursor: pointer;
  display: none;
  position: absolute;
  top: 24px;
  left: 0;
}

.about-nav li:hover {
  color: #27ae60;
}

/* SECTION ABOUT */
.about h1 {
  margin-top: 47px;
  margin-bottom: 38px;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
}

.about-description {
  padding-left: 300px;
  padding-right: 300px;
  text-align: center;
  margin-bottom: 38px;
}

/* cuc tron */
.info-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding-left: 200px;
  padding-right: 200px;
}
.info {
  text-align: center;
}

.info .circle-item {
  border-radius: 50%;
  width: 4px;
  height: 4px;
  background-color: #27ae60;
  border: 40px solid #171717cc;
  margin: auto;
}

/* SECTION FEATURE */
.feature h1 {
  margin-top: 47px;
  margin-bottom: 38px;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
}

.feature-inner {
  display: flex;
  gap: 40px;
  /* flex-basis: 33.333%; */
  justify-content: space-between;
  margin-left: 120px;
  margin-right: 120px;
  text-align: center;
}

.feature-item {
  background-color: #212121;
  flex-basis: 33.333%;
  padding: 60px 0;
  border-bottom: 1px solid transparent;
}

.feature-item:hover {
  border-bottom: 2px solid #27ae60;
}

.feature-item i {
  font-size: 40px;
  background-color: #212121;
  margin-bottom: 20px;
  color: #27ae60;
}

.feature-item p {
  background-color: #212121;
}
